name: Deploy API to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  PROJECT_PATH: Maintenance.WebAPI/Maintenance.WebAPI.csproj
  APP_NAME: jg-carrental-api-lab4-
  ZIP_PATH: api.zip

jobs:
  build-and-deploy:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore
        run: dotnet restore "${{ env.PROJECT_PATH }}"

      - name: Build
        run: dotnet build "${{ env.PROJECT_PATH }}" -c Release --no-restore

      - name: Publish
        run: dotnet publish "${{ env.PROJECT_PATH }}" -c Release --no-build -o publish_api

      - name: Zip output
        shell: pwsh
        run: |
          if (Test-Path "${{ env.ZIP_PATH }}") { Remove-Item "${{ env.ZIP_PATH }}" -Force }
          Compress-Archive -Path "publish_api\*" -DestinationPath "${{ env.ZIP_PATH }}"

      - name: Deploy
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.APP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_API }}
          package: ${{ env.ZIP_PATH }}
