name: Build and deploy Maintenance.WebAPI to Azure Web App - jg-carrental-lab4

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore
        run: dotnet restore ./Maintenance.WebAPI/Maintenance.WebAPI.csproj

      - name: Build
        run: dotnet build ./Maintenance.WebAPI/Maintenance.WebAPI.csproj --configuration Release --no-restore

      - name: Publish
        run: dotnet publish ./Maintenance.WebAPI/Maintenance.WebAPI.csproj -c Release -o "${{ runner.temp }}/myapp" --no-build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ runner.temp }}/myapp

  deploy:
    runs-on: windows-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7A1A0BF421974CD2B39414AE21A9D4F9 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_03D5D9A0A4094F05B946F4912F277A88 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_8874E4315BF14782B5CCD304FD4ED164 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "jg-carrental-lab4"
          slot-name: "Production"
          package: .
