

name: Build and deploy Maintenance.WebAPI to Azure Web App - jg-maintenance-webapi-lab4-

on:
  push:
    branches:
      - main

  workflow_dispatch:

env:
  PROJECT_PATH: Maintenance.WebAPI/Maintenance.WebAPI.csproj
  PUBLISH_DIR: publish

  PACKAGE_ZIP: maintenance-webapi.zip

jobs:
  build:
    name: Build & Publish Maintenance.WebAPI
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up .NET 8 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.x"

      - name: Restore dependencies
        run: dotnet restore "${{ env.PROJECT_PATH }}"

      - name: Build (Release)
        run: dotnet build "${{ env.PROJECT_PATH }}" --configuration Release --no-restore

      - name: Publish
        run: dotnet publish "${{ env.PROJECT_PATH }}" --configuration Release --no-build -o "${{ env.PUBLISH_DIR }}"
        
      - name: Zip publish output
        shell: pwsh
        run: |
          if (Test-Path "${{ env.PACKAGE_ZIP }}") { Remove-Item "${{ env.PACKAGE_ZIP }}" -Force }
          Compress-Archive -Path "${{ env.PUBLISH_DIR }}\*" -DestinationPath "${{ env.PACKAGE_ZIP }}"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: maintenance-webapi-package
          path: ${{ env.PACKAGE_ZIP }}

  deploy:
    name: Deploy to Azure App Service
    runs-on: windows-latest
    needs: build
    
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: maintenance-webapi-package
          path: .

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_2168C08F4E7D46AC99C88791B6B25452 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_21017111BCB04619ADBDA630999991E9 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_687BE5751C394407B407D3413BBCD01A }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: "jg-maintenance-webapi-lab4-"
          slot-name: "Production"
          package: "./${{ env.PACKAGE_ZIP }}"
